form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fields {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.left .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.bot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

button {
  margin: 5px;
}
